<? xml version = "1.0" encoding = "UTF-8" ?>

< beans xmlns = "http://www.springframework.org/schema/beans"
xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
xmlns:mvc = "http://www.springframework.org/schema/mvc"
xmlns:context = "http://www.springframework.org/schema/context"
xsi:schemaLocation = "
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd" >
	
	< context:component-scan base-package = "WWSIS.Microblog" /> <!-- We want to automatically
	support all annotated classes in this package. ATTENTION!!! each project can of course have a
	different package structure -->
	< context:annotation-config /> <!-- This for the future will allow us to use annotations
	also in classes that we would configure manually -->
	
	<bean id= "dataSource" class = "org.springframework.jdbc.datasource.DriverManagerDataSource" >
		<property name= "driverClassName" value = "org.hsqldb.jdbcDriver" />
		<property name= "url" value = "jdbc:hsqldb:hsql://localhost/testDB" />
		<property name= "username" value = "admin" />
		<property name= "password" value = "password123" />
	</bean>
	
	< bean id = "entityManagerFactoryBean" class = "org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" >
		< property name = "dataSource" ref = "dataSource" />
		< property name = "packagesToScan" value = "WWSIS.Microblog.model" />
		< property name = "jpaVendorAdapter" >
		< bean 	class = "org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" >
			< property name = "showSql" value = "true" />
			< property name = "databasePlatform" value = "org.hibernate.dialect.HSQLDialect" />
		</ bean >
		</ property >
		< property name = "jpaProperties" >
			< props >
				< prop key = "hibernate.hbm2ddl.auto" > validate </ prop >
			</ props >
		</ property >
	</ bean >
	
	< bean class = "org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
	
	< bean class = "org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	
	< bean id = "transactionManager" class = "org.springframework.orm.jpa.JpaTransactionManager" >
		< property name = "entityManagerFactory" ref = "entityManagerFactoryBean" />
	</ bean >
	
	< bean id = "FollowerDao" class = "WWSIS.Microblog.dao.impl.FollowerDaoImpl" />
	< bean id = "UserDao" class = "WWSIS.Microblog.dao.impl.UserDaoImpl" />
	< bean id = "PostDao" class = "WWSIS.Microblog.dao.impl.PostDaoImpl" />
</ beans >
